<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="container mt-5">
<h2 class="mb-4">Login</h2>
<form th:action="@{/auth/login}" method="post" class="form-group">
    <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>
</body>
</html>